:root {
  --theme-1-bg: #ebeded;
  --theme-1-color: #e83c38;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: Karla, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  background-color: var(--theme-1-bg);
  color: var(--theme-1-color);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: perpetua titling mt, Georgia, times new roman, Times, serif;
  font-weight: 300;
  text-transform: uppercase;
}

.o-bg-theme {
  background-color: var(--theme-1-bg);
}

.o-color-theme {
  color: var(--theme-1-color);
}

.o-container {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 999px) {
  .o-container {
    padding: 0 40px;
  }
}

@media (max-width: 999px) {
  .o-container {
    padding: 0 40px;
  }
}

@media (max-width: 500px) {
  .o-container {
    padding: 0 20px;
  }
}

.o-grid {
  position: relative;
  margin-left: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 999px) {
  .o-grid {
    display: block;
  }
}

.o-quarter {
  width: 25%;
}

.o-third {
  width: 33.33333%;
}

.o-two-fifths {
  width: 40%;
}

.o-half {
  width: 50%;
}

.o-three-fifths {
  width: 60%;
}

.o-two-thirds {
  width: 66.66667%;
}

.o-three-quarters {
  width: 75%;
}

.o-quarter,
.o-third,
.o-two-fifths,
.o-half,
.o-three-fifths,
.o-two-thirds,
.o-three-quarters {
  padding-left: 4rem;
  display: inline-block;
}

@media (max-width: 999px) {
  .o-quarter,
  .o-third,
  .o-two-fifths,
  .o-half,
  .o-three-fifths,
  .o-two-thirds,
  .o-three-quarters {
    width: 100%;
  }
}

.o-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-button {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  color: inherit;
  border: 0;
  font: inherit;
}

.c-button__circle {
  width: 47px;
  height: 47px;
  position: absolute;
  left: -2.5rem;
  top: -1.4rem;
}

.c-button__circle path {
  stroke: var(--theme-1-color);
  fill: none;
  stroke-dasharray: 164;
  stroke-dashoffset: 0;
  stroke-miterlimit: 10;
  stroke-width: 0.8;
  -webkit-transition: stroke-dashoffset 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: stroke-dashoffset 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.c-button:hover path {
  stroke-dashoffset: -164;
}

.c-button:hover .c-button__label:before {
  width: 100%;
}

.c-button__label {
  position: relative;
  padding: 1rem 0;
}

@media (max-width: 999px) {
  .c-button__label {
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@media (min-width: 1200px) {
  .c-button__label {
    font-size: 1.7rem;
  }
}

@media (max-width: 1199px) {
  .c-button__label {
    font-size: 1.6rem;
  }
}

@media (max-width: 700px) {
  .c-button__label {
    font-size: 1.5rem;
  }
}

.c-button__label:before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--theme-1-color);
  -webkit-transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (min-width: 1000px) {
  .c-button--rotate {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .c-button--rotate:hover {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.c-header__line {
  position: relative;
}

.c-header__line:before, .c-header__line:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: #ebeded;
  border-bottom: 1px solid var(--theme-1-color);
  z-index: -1;
}

@media (min-width: 999px) {
  .c-header__line:after {
    display: none;
  }
}

@media (max-width: 999px) {
  .c-header__line:before {
    display: none;
  }
}

.c-header__line:before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.c-header__tagline {
  padding: 25px 0;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 1750px) {
  .c-header__tagline {
    font-size: 1.4rem;
  }
}

@media (max-width: 999px) {
  .c-header__tagline {
    display: none;
  }
}

.c-lang {
  position: relative;
  font-size: 1.9rem;
}

@media (max-width: 1700px) {
  .c-lang {
    font-size: 1.4rem;
  }
}

@media (max-width: 999px) {
  .c-lang {
    font-size: 1.6rem;
  }
}

@media (max-width: 499px) {
  .c-lang {
    font-size: 1.4rem;
  }
}

@media (max-width: 999px) {
  .c-lang--desktop {
    display: none;
  }
}

.c-lang__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-lang__item {
  position: relative;
}

.c-lang__item:not(:last-child):before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 1px;
  height: 14px;
  background-color: var(--theme-1-color);
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

.c-lang__link {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 30px 9px;
}

@media (max-width: 999px) {
  .c-lang__link {
    padding: 20px;
  }
}

.c-menu {
  position: relative;
}

@media (max-width: 999px) {
  .c-menu {
    width: 100%;
  }
}

.c-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 999px) {
  .c-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-menu__item {
  position: relative;
}

.c-menu__item:not(:last-child):before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 1px;
  background-color: var(--theme-1-color);
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}

@media (min-width: 1000px) {
  .c-menu__item:not(:last-child):before {
    height: 14px;
  }
}

.c-menu__link {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 30px 9px;
  font-size: 1.9rem;
}

@media (max-width: 1700px) {
  .c-menu__link {
    font-size: 1.4rem;
  }
}

@media (max-width: 999px) {
  .c-menu__link {
    padding: 20px;
    font-size: 1.6rem;
  }
}

@media (max-width: 499px) {
  .c-menu__link {
    font-size: 1.4rem;
  }
}

.c-svg-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 1.1rem;
  left: 50%;
  fill: none;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  stroke-miterlimit: 10;
  stroke: var(--theme-1-color);
  stroke-width: 2.3px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  -webkit-transition: stroke-dashoffset 0.3s linear, stroke 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: stroke-dashoffset 0.3s linear, stroke 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.c-menu__link:hover .c-svg-circle,
.c-lang__link:hover .c-svg-circle,
.is-active .c-svg-circle {
  stroke-dashoffset: 0;
}

.c-home-header-play__circle {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0%;
  left: 0;
}

@media (max-width: 768px) {
  .c-home-header-play__circle {
    width: 120px;
    height: 120px;
  }
}

.c-home-header-play__circle path {
  fill: none;
  stroke-dasharray: 308;
  stroke-dashoffset: 0;
  stroke-miterlimit: 10;
  stroke-width: 0.6;
  stroke: var(--theme-1-color);
  -webkit-transition: stroke 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s 2.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: stroke 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s 2.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.c-home-header {
  position: relative;
  z-index: 0;
  min-height: 100vh;
}

@media (max-width: 999px) {
  .c-home-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 130px 0;
  }
}

@media (min-width: 1000px) {
  .c-home-header {
    margin-bottom: 130px;
  }
}

@media (min-width: 1000px) {
  .c-home-header__title-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-home-header__title {
  text-align: center;
}

@media (max-width: 319px) {
  .c-home-header__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 320px) {
  .c-home-header__title {
    font-size: 3rem;
  }
}

@media (min-width: 500px) {
  .c-home-header__title {
    font-size: 3.7rem;
  }
}

@media (min-width: 700px) {
  .c-home-header__title {
    font-size: 5rem;
  }
}

@media (min-width: 1000px) {
  .c-home-header__title {
    font-size: 6.2rem;
  }
}

@media (min-width: 1200px) {
  .c-home-header__title {
    font-size: 5vw;
  }
}

.c-home-header-play {
  position: relative;
  width: 150px;
  height: 150px;
  display: inline-block;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .c-home-header-play {
    width: 120px;
    height: 120px;
  }
}

.c-home-header-play:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: var(--theme-1-bg);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.5s opacity cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.5s opacity cubic-bezier(0.39, 0.575, 0.565, 1);
}

.c-home-header-play:hover:before {
  opacity: 1;
}

.c-home-header-play:hover .c-home-header-play__label span {
  -webkit-transform: translate3d(0, -1.3rem, 0);
          transform: translate3d(0, -1.3rem, 0);
}

.c-home-header-play__wrap {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

@media (min-width: 1000px) {
  .c-home-header-play__wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 2rem;
  }
}

.c-home-header-play__label {
  position: absolute;
  left: 0;
  bottom: 5rem;
  width: 100%;
  display: inline-block;
}

@media (max-width: 999px) {
  .c-home-header-play__label {
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@media (min-width: 1200px) {
  .c-home-header-play__label {
    font-size: 1.7rem;
  }
}

@media (max-width: 1199px) {
  .c-home-header-play__label {
    font-size: 1.6rem;
  }
}

@media (max-width: 700px) {
  .c-home-header-play__label {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .c-home-header-play__label span {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.1, 0.83, 0.6, 1.33);
    transition: -webkit-transform 0.3s cubic-bezier(0.1, 0.83, 0.6, 1.33);
    transition: transform 0.3s cubic-bezier(0.1, 0.83, 0.6, 1.33);
    transition: transform 0.3s cubic-bezier(0.1, 0.83, 0.6, 1.33), -webkit-transform 0.3s cubic-bezier(0.1, 0.83, 0.6, 1.33);
  }
}

.c-home-header-play__label span:last-child {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.c-home-header-video {
  width: 200px;
  height: 100px;
  position: relative;
  z-index: -3;
  margin: -30px -70px -40px 0;
}

@media (min-width: 499px) {
  .c-home-header-video {
    width: 300px;
    height: 290px;
  }
}

@media (min-width: 768px) {
  .c-home-header-video {
    width: 400px;
    height: 290px;
  }
}

@media (min-width: 1000px) {
  .c-home-header-video {
    width: 450px;
    height: 300px;
  }
}

@media (min-width: 1000px) {
  .c-home-header-video__wrap {
    position: absolute;
    bottom: 5vw;
    left: 50vw;
  }
}

.c-home-header-video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-about {
  position: relative;
}

.c-about:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: var(--theme-1-color);
}

@media (min-width: 700px) {
  .c-about .o-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .c-about .o-half {
    width: 50%;
  }
}

.c-about__video {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.c-about__video video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.c-about__content {
  padding: 50px 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  .c-about__content {
    padding: 70px 10px 60px 0;
  }
}

.c-about__text {
  margin-bottom: 3.5rem;
  font-family: Karla, Helvetica, Arial, sans-serif;
  line-height: 1.3;
}

@media (max-width: 319px) {
  .c-about__text {
    font-size: 1.6rem;
  }
}

@media (min-width: 320px) {
  .c-about__text {
    font-size: 1.8rem;
  }
}

@media (min-width: 500px) {
  .c-about__text {
    font-size: 2rem;
  }
}

@media (min-width: 700px) {
  .c-about__text {
    font-size: 2.4rem;
  }
}

@media (min-width: 1000px) {
  .c-about__text {
    font-size: 2.6rem;
  }
}

@media (min-width: 1200px) {
  .c-about__text {
    font-size: 2.8rem;
  }
}

.c-about .o-about-button-wrap {
  width: 100%;
  padding-left: 4.2rem;
}

.c-work {
  position: relative;
  padding-bottom: 80px;
}

.c-work:before, .c-work:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--theme-1-color);
}

.c-work:after {
  bottom: 0;
}

@media (min-width: 1000px) {
  .c-work .o-work-button-wrap {
    padding: 50px 0 90px 30px;
  }
}

@media (max-width: 999px) {
  .c-work .o-work-button-wrap {
    text-align: center;
  }
}

.c-work-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
}

@media (min-width: 1000px) {
  .c-work-header {
    height: 100vh;
    padding-top: 65px;
  }
}

@media (max-width: 319px) {
  .c-work-header__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 320px) {
  .c-work-header__title {
    font-size: 3rem;
  }
}

@media (min-width: 500px) {
  .c-work-header__title {
    font-size: 3.7rem;
  }
}

@media (min-width: 700px) {
  .c-work-header__title {
    font-size: 5rem;
  }
}

@media (min-width: 1000px) {
  .c-work-header__title {
    font-size: 6.2rem;
  }
}

@media (min-width: 1200px) {
  .c-work-header__title {
    font-size: 5vw;
  }
}

.c-clients__header {
  position: relative;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: Karla, Helvetica, Arial, sans-serif;
}

@media (min-width: 500px) {
  .c-clients__header {
    font-size: 2rem;
  }
}

.c-clients__header:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--theme-1-color);
}

.c-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.c-clients__item {
  position: relative;
}

@media (min-width: 1000px) {
  .c-clients__item {
    width: 25%;
  }
}

@media (max-width: 999px) {
  .c-clients__item {
    width: 33.33333%;
  }
}

@media (max-width: 699px) {
  .c-clients__item {
    width: 50%;
  }
}

.c-clients__item:before, .c-clients__item:after {
  position: absolute;
  content: "";
  background-color: var(--theme-1-color);
}

.c-clients__item:before {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}

.c-clients__item:after {
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
}

@media (min-width: 1000px) {
  .c-clients__item:nth-child(4):before, .c-clients__item:nth-child(8):before {
    display: none;
  }
}

@media (max-width: 999px) {
  .c-clients__item:nth-child(3):before, .c-clients__item:nth-child(6):before, .c-clients__item:nth-child(9):before {
    display: none;
  }
}

@media (max-width: 699px) {
  .c-clients__item:nth-child(2):before, .c-clients__item:nth-child(4):before, .c-clients__item:nth-child(6):before, .c-clients__item:nth-child(8):before {
    display: none;
  }
  .c-clients__item:nth-child(3):before {
    display: block;
  }
}

.c-clients__item--desktop {
  display: none;
}

@media (max-width: 999px) {
  .c-clients__item--desktop {
    display: block;
  }
}

@media (min-width: 700px) {
  .c-clients__item--desktop {
    display: block;
  }
}

@media (min-width: 1000px) {
  .c-clients__item--desktop {
    display: none;
  }
}

@media (max-width: 699px) {
  .c-clients__item--desktop {
    display: none;
  }
}

.c-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1000px) {
  .c-clients__link {
    height: 9vw;
  }
}

@media (max-width: 999px) {
  .c-clients__link {
    height: 12vw;
  }
}

@media (max-width: 699px) {
  .c-clients__link {
    height: 13vw;
  }
}

.c-clients__link svg {
  fill: var(--theme-1-color);
}

@media (min-width: 1000px) {
  .c-clients__link svg {
    max-width: 13vw;
    max-height: 3vw;
  }
}

@media (max-width: 999px) {
  .c-clients__link svg {
    max-width: 17vw;
    max-height: 5vw;
  }
}

@media (max-width: 699px) {
  .c-clients__link svg {
    max-width: 23vw;
    max-height: 5.5vw;
  }
}

.c-clients__link path {
  fill: var(--theme-1-color);
}

.c-clients__link .ford1 {
  fill: var(--theme-1-bg);
}

.c-clients__text {
  position: relative;
  padding: 25px 0;
}

.c-clients__text:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: var(--theme-1-color);
}

@media (min-width: 1000px) {
  .c-clients__text {
    font-size: 1.7rem;
  }
}

@media (max-width: 999px) {
  .c-clients__text {
    text-align: center;
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=main.css.map */