// resets
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
html {
  font-size: 10px;
  font-family: Karla, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  &::-webkit-scrollbar {
    transition: background 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 10px;
    @include media(">=1000px") {
      width: 7.5px;
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--theme-1-color);
  }
  &::-webkit-scrollbar-track {
    background-color: var(--theme-1-bg);
  }
}
body {
  background-color: var(--theme-1-bg);
  color: var(--theme-1-color);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: perpetua titling mt, Georgia, times new roman, Times, serif;
  font-weight: 300;
  text-transform: uppercase;
}
svg {
  transition: fill 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.o-bg-theme {
  background-color: var(--theme-1-bg);
}
.o-color-theme {
  color: var(--theme-1-color);
}
