.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  &__line {
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0;
      background: $theme-1-bg;
      border-bottom: 1px solid var(--theme-1-color);
      z-index: -1;
    }
    @include media(">=999px") {
      &:after {
        display: none;
      }
    }
    @include media("<=999px") {
      &:before {
        display: none;
      }
    }
    &:before {
      transform: translateY(-100%);
    }
  }
  &__tagline {
    padding: 25px 0;
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 400;
    @include media("<=1750px") {
      font-size: 1.4rem;
    }
    @include media("<=999px") {
      display: none;
    }
  }
}
