.c-lang {
  position: relative;
  font-size: 1.9rem;
  @include media("<=1200px") {
    font-size: 1.4rem;
  }
  @include media("<=999px") {
    font-size: 1.6rem;
  }
  @include media("<=499px") {
    font-size: 1.4rem;
  }
  &--desktop {
    @include media("<=999px") {
      display: none;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    &:not(:last-child):before {
      position: absolute;
      content: "";
      right: 0;
      top: 50%;
      width: 1px;
      height: 14px;
      background-color: $theme-1-color;
      transform: translate3d(0, -50%, 0);
    }
  }
  &__link {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    padding: 30px 9px;
    @include media("<=999px") {
      padding: 20px;
    }
  }
}
