.c-marquee {
  padding: 30px 0;
  position: relative;
  &:before,
  &:after {
    position: absolute;
    content: "";
    background-color: var(--theme-1-color);
    height: 1px;
    width: 100%;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  &__text {
    font-family: perpetua titling mt, Georgia, times new roman, Times, serif;
    margin-left: 60px;
    @include media(">=1000px") {
      font-size: 5vw;
    }
    @include media("<=999px") {
      font-size: 50px;
    }
    @include media("<=499px") {
      font-size: 30px;
    }
  }
}
