.c-menu {
  position: relative;
  @include media("<=999px") {
    width: 100%;
  }
  &__list {
    display: flex;
    @include media("<=999px") {
      @include flex($justify: space-between);
    }
  }
  &__item {
    position: relative;
    &:not(:last-child):before {
      @include media(">=1000px") {
        height: 14px;
      }
      position: absolute;
      content: "";
      right: 0;
      top: 50%;
      width: 1px;
      background-color: var(--theme-1-color);
      transform: translate3d(0, -50%, 0);
    }
  }
  &__link {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    padding: 30px 9px;
    font-size: 1.9rem;
    @include media("<=1700px") {
      font-size: 1.4rem;
    }
    @include media("<=999px") {
      padding: 20px;
      font-size: 1.6rem;
    }
    @include media("<=499px") {
      font-size: 1.4rem;
    }
  }
}
