.c-svg-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 1.1rem;
  left: 50%;
  fill: none;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  stroke-miterlimit: 10;
  stroke: var(--theme-1-color);
  stroke-width: 2.3px;
  transform: translate3d(-50%, 0, 0);
  transition: stroke-dashoffset 0.3s linear,
    stroke 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.c-footer__link .c-svg-circle {
  left: -1.3rem;
  bottom: 0;
  top: 0.2rem;
}
.is-active .c-svg-circle {
  stroke-dashoffset: 0;
}
@media (hover) {
  .c-menu__link:hover .c-svg-circle,
  .c-lang__link:hover .c-svg-circle,
  .c-footer__link:hover .c-svg-circle {
    stroke-dashoffset: 0;
  }
}
.c-home-header-play__circle {
  width: 150px;
  height: 150px;
  @include media("<=768px") {
    width: 120px;
    height: 120px;
  }
  position: absolute;
  top: 0%;
  left: 0;
}
.c-home-header-play__circle path {
  fill: none;
  stroke-dasharray: 308;
  stroke-dashoffset: 0;
  stroke-miterlimit: 10;
  stroke-width: 0.6;
  stroke: var(--theme-1-color);
  transition: stroke 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s 2.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
