.c-svg-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 1.1rem;
  left: 50%;
  fill: none;
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  stroke-miterlimit: 10;
  stroke: $theme-1-color;
  stroke-width: 2.3px;
  transform: translate3d(-50%, 0, 0);
  transition: stroke-dashoffset 0.3s linear,
    stroke 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.c-menu__link:hover .c-svg-circle,
.c-lang__link:hover .c-svg-circle,
.is-active .c-svg-circle {
  stroke-dashoffset: 0;
}
